@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

$page: #F2F3EE;
$etsy: #F04C06;
$blue: #4199B9;
$icons: #535353;
$money: #67B733;
$shopname: #B5A2A2;
$border: #D0D0CB;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background-color: $page;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here

.top {
	background-color: white;
	box-shadow: 0 1px 1px 1px $border;
	height: 80px;
	padding-top: 1em;
	padding-left: 5em;
	padding-right: 5em;
}
.etsy {
	font-size: 2.5em;
	color: $etsy;
	float: left;
}
form {
	float:left;
	padding-left: 4em;
	font-size: 2em;
	display: inline;
}
.top-right {
	float:right;
	font-family: Arial;
}
.top-right a {
	text-decoration: none;
	color: $blue;
}
.top-right a:hover {
	text-decoration: underline;
}
.register , .signin {
	color: $blue;
}
[class*="fa fa"] {
	color: $icons;
	font-size: 1.3em;
}
.main-body {
	@include outer-container(1140px);
	padding-top: 2em;
}
.left {
	font-family: Arial,sans-serif;
	font-size: 13px;
	padding: 1em;
	@include span-columns(3);
}
.show {
	font-weight: bold;
}
.all-cat {
	background-color: white;
	border: 1px solid $border;
	border-radius: 2px;
	padding: 1em;
}
.cat {
	font-weight: bold;
	line-height: 2em;
}
.all-cat li {
	text-indent: 1em;
}
.left a {
	color: $blue;
	text-decoration: none;
	line-height: 1.9;
}
.left a:hover {
	text-decoration: underline;
}
.left-two {
	background-color: white;
}
.item-type {
	padding: 1em;
}
form {
	font-size: 1px;
}
.article-all {
	@include span-columns(3);
	@include omega(3);
	border: 1px solid $border;
	border-radius: 2px;
	background-color: white;
}
img {
	width: 100%;
}
.article-bottom {
	font-size: .8em;
	font-family: arial;
	background-color: white;
}
.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.price {
	color: $money;
	float: right;
}
